<mat-toolbar color="primary">
  <button mat-icon-button  >
    <mat-icon routerLink="task">home</mat-icon>
  </button>
  <span style="margin-left: 1%"> TODO APPLICATION </span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="create"> Create New Task </button>
  <button mat-icon-button style="margin-left: 3%">
    <mat-icon routerLink="login">logout</mat-icon>
  </button>

  <button mat-icon-button style="margin-left: 3%">
    <mat-icon>feedback</mat-icon>
  </button>
</mat-toolbar>
<div>
  <router-outlet> </router-outlet>
</div>
